
img{
    float: right;
}
 body {
     background-color: rgb(175, 231, 216);
     
 }
 footer {
     color: rgb(163, 204, 200);
     background-color: rgb(46, 104, 96) ;
     
 }
 h1 {
     text-align: center;
     font-size: 70px;
     font-family: 'Reggae One', cursive; 

 }
 main {
    margin: 20px; 
 }

 h4 {
     color: rgb(89, 97, 97);
text-align: center;
font-size: 40px;

 }
 h2 {
     color: rgb(185, 121, 48);

 }
 h3 {

    font-family: cursive;
 }
ol li {
    font-size: 20px;
    font-style: oblique;
    font-weight: bolder;

}
ul li {
    list-style-type: square;
    font-family: cursive;
}
 