
img{
    float: right;
}
 body {
     background-color: rgb(175, 231, 216);
 }
 footer {
     color: rgb(46, 104, 96);
 }
 h1 {
     text-align: center;
 }

 h4 {
     color: rgb(89, 97, 97);
text-align: center;
 }
 h2 {
     color: rgb(185, 121, 48);

 }
 